# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Logs
*.log

# Compilación
*.class

# Archivos temporales
*.swp
*~
